<div class="marketplace-container">
    <header class="marketplace-header">
        <nav class="marketplace-tabs">
          {{#each tabs}}
          <button
            id="id-{{id}}"
            class="marketplace-tab {{cssClass}}"
            data-action="changeTab"
            data-tab="{{id}}"
            type="button"
          >
            <i class="fa-solid fa-{{id}}"></i>{{label}}
          </button>
          {{/each}}
        </nav>
      </header>
      
      <!-- Render the content for the active tab -->
      <section class="marketplace-tab-content">
        {{{tabContent}}}
      </section>
</div>
