
<!-- Separate headers from basket items -->

    <!-- Actual basket items start here -->
    <div class="grid basket-grid">
        <div class="grid-item header">{{localize "SR5.Marketplace.Name"}}</div>
        <div class="grid-item header">{{localize "SR5.Marketplace.system.technology.rating"}}</div>
        <div class="grid-item header">{{localize "SR5.Marketplace.system.technology.Cost"}}</div>
        <i class="fas fa-trash grid-item header" aria-label='{{localize "SR5.Marketplace.RemoveItem"}}'></i>
        {{#each items}}

                    <div class="basket-item item-name">{{this.name}}</div>
                    {{#if this.system.technology.rating}}
                <select class="item-rating" data-basket-id="{{this.basketId}}">
                        {{#range 1 13}}
                        <option value="{{this}}" {{#ifeq this ../selectedRating}}selected{{/ifeq}}>{{this}}</option>
                        {{/range}}
                </select>
                    {{/if}}
                <div class="basket-item item-cost">{{this.calculatedCost}} <i class="fa-duotone fa-solid fa-circle-yen"></i></div>
                <button class="remove-item" data-basket-id="{{this.basketId}}">
                        <i class="fas fa-trash"></i>
                </button>
        {{/each}}
    </div>

        <!-- Summary for Cost and Availability -->
    <div class="basket-summary">
        <div id="total-cost">Total: {{totalCost}} <i class="fa-duotone fa-solid fa-circle-yen"></i></div>
        <div id="total-availability">Total Availability: {{totalAvailability}}</div>
    </div>

        <!-- Buttons to send or cancel the request -->
    <div class="basket-actions end-row">
        <button id="send-request-button" class="send-request-button">{{localize 'SR5.Marketplace.SendRequest'}}</button>
        <button id="cancel-request-button" class="send-request-button cancel">{{localize 'SR5.Marketplace.CancelRequest'}}</button>
    </div>

<div class="basket-frame"></div>
