<div class="shopping-basket-summary">
  <h2>{{localize "SR5.Marketplace.shoppingListRequest"}}</h2>
  
  <!-- Link to the actor this request is for -->
  <p>{{localize "SR5.Marketplace.requestActor"}}: @Actor[{{actorId}}]</p>
  
  <h3>{{localize "SR5.Marketplace.Items"}}</h3>
  <ul>
    {{#each items}}
      <li>
        {{#if (neq type "weapon")}}
          {{localize "SR5.Marketplace.system.technology.rating"}}: {{rating}} {{localize "SR5.Marketplace.of"}}
        {{/if}}
        {{name}} - {{cost}}¥ {{localize "SR5.Marketplace.each"}}
      </li>
    {{/each}}
  </ul>

  <p><strong>{{localize "SR5.Marketplace.TotalCost"}}: {{totalCost}}¥</strong></p>
    <button id="{{id}}" class="review-request-button" data-request-id="{{id}}">
      {{localize 'SR5.Marketplace.ReviewAndConfirm'}}
    </button>
</div>  