<div class="shopping-basket-summary">
  <h2>Shopping Basket Summary</h2>
  <p>Request from: {{this.requester}}</p>
  <ul>
    {{#each items}}
      <li>{{localize "SR5.Marketplace.system.technology.rating"}}: {{rating}} of {{name}} - {{cost}}¥ each</li>
    {{/each}}
  </ul>
  <p><strong>Total Cost: {{totalCost}}¥</strong></p>
  <button id="{{this.id}}" class="review-request-button" data-request-id="{{this.id}}">
      {{localize 'SR5.Marketplace.ReviewAndConfirm'}}
  </button>
</div>  