{{#each items}}
<div class="marketplace-item grid-item">
        <order class="grid-show">
            <div class="item-image">
                <a data-entity-link="Item" data-uuid="{{this.uuid}}">
                <img src="{{this.img}}" alt="{{this.name}}"></a>
            </div>
            <div class="item-action">
                <button id="{{this.uuid}}" class="add-to-cart" data-item-id="{{this.uuid}}">
                    <i class="fa-solid fa-basket-shopping-plus"></i>
                </button>
            </div>

            <!-- Show Karma instead of cost if the item has a Karma value -->
            {{#if (eq this.type "quality")}}
            <div class="item">
                {{this.system.karma}}
                <i class="fa-duotone fa-solid fa-circle-star sr5-marketplace-karma"></i>
            </div>
            {{else if (eq this.type "adept_power")}}
            <div class="item">
                {{this.flags.sr5-marketplace.Karma}}
                <i class="fa-duotone fa-solid fa-circle-star sr5-marketplace-karma"></i>
            </div>
            {{else if (eq this.type "spell")}}
            <div class="item">
                {{this.flags.sr5-marketplace.Karma}}
                <i class="fa-duotone fa-solid fa-circle-star sr5-marketplace-karma"></i>
            </div>
            {{else if (eq this.type "complex_form")}}
            <div class="item">
                {{this.flags.sr5-marketplace.Karma}}
                <i class="fa-duotone fa-solid fa-circle-star sr5-marketplace-karma"></i>
            </div>
            {{else}}
            <!-- Otherwise, show the cost for other item types -->
            <div class="item">
                {{this.system.technology.cost}}
                <i class="fa-duotone fa-solid fa-circle-yen sr5-marketplace-yen"></i>
            </div>
            {{/if}}
        </order>

        <div class="item-details">
            <h4>{{this.name}}</h4>

            <!-- Spell-specific logic: show drain instead of rating or availability -->
            {{#if (eq this.type "spell")}}
                <div class="item-drain">{{localize "SR5.Marketplace.system.spell.drain"}}: {{this.system.drain}}</div>

            <!-- For qualities, adept powers, and complex forms, show Karma and skip availability -->
            {{else if (or (eq this.type "quality") (eq this.type "adept_power") (eq this.type "complex_form"))}}
                <!-- Skip showing availability or rating for these types -->

            <!-- For other types, show availability and rating -->
            {{else}}
                <div class="item-all">{{localize "SR5.Marketplace.system.avail.avail"}}: {{this.system.technology.availability}}</div>
                <div class="item rating">{{localize "SR5.Marketplace.system.technology.rating"}}: {{this.system.technology.rating}}</div>
            {{/if}}

            <!-- Show essence for bioware and cyberware -->
            {{#if (eq this.type "bioware")}}
            <div class="item-essence">{{localize "SR5.Marketplace.system.essence"}}: {{this.system.essence}}</div>
            {{else if (eq this.type "cyberware")}}
            <div class="item-essence">{{localize "SR5.Marketplace.system.essence"}}: {{this.system.essence}}</div>
            {{/if}}
        </div>
</div>
{{/each}}

