{{#each items}}
<div class="marketplace-item grid-item">
    <order class="grid-show">
        <div class="item-image">
            <img src="{{this.img}}" alt="{{this.name}}">
        </div>
        <div class="item-action">
            <button id="{{this._id}}" class="add-to-cart" data-item-id="{{this._id}}">
                <i class="fa-solid fa-basket-shopping-plus"></i>
            </button>
        </div>
        <div class="item">{{this.system.technology.cost}} <i class="fa-duotone fa-solid fa-circle-yen"></i></div>
    </order>
    <div class="item-details">
        <h4>{{this.name}}</h4>
        <div class="item-all">{{localize "SR5.Marketplace.system.avail"}}: {{this.system.technology.availability}}</div>
        <div class="item-right rating">{{localize "SR5.Marketplace.system.technology.rating"}}: {{this.system.technology.rating}}</div>
        {{#if (eq this.type "bioware")}}
        <div class="item-essence">{{localize "SR5.Marketplace.system.essence"}}: {{this.system.essence}}</div>
        {{else if (eq this.type "cyberware")}}
        <div class="item-essence">{{localize "SR5.Marketplace.system.essence"}}: {{this.system.essence}}</div>
        {{/if}}
    </div>
</div>
{{/each}}
